html {
  box-sizing: border-box;
}

body {
  background: #f2f2f2;
  color: #323232;
}
img {
  max-width: 100%;
}

.container {
  max-width: 950px;
  margin: 40px auto;
  padding: 32px;
  background: white;
}

section {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 20px;
  padding: 24px 0;
  border-bottom: 1px solid lightgrey;
}

section:last-child {
  border-bottom: none;
}

.section-title {
  font-weight: bold;
  font-size: 18px;
  height: 100%;
}

/* Main section ends */

img.dp {
  width: 130px;
}

.my-name {
  font-size: 40px;
  line-height: 1;
}

.my-title {
  font-size: 20px;
  font-weight: 300;
  color: #236fb2;
}

.job-title-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
.skills-container {
  display: flex;
  justify-content: space-around;
}
